.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  overflow-x: hidden;
}

.card-container {
  height: 350px;
  width: 350px;
  box-shadow: 0px 3px 50px #a5a5a5;
}

.card-wrapper {
  width: 270px;
  height: 200px;
  box-shadow: 0px 3px 50px #ecadad94;
  display: flex;
  flex-direction: column;
  border-radius: 11px;
}

.card-top {
  width: 100%;
  height: 2%;
}

.task-holder {
  width: 100%;
  height: 98%;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  color: blue;
}

.task-holder .bootstrap-icon {
  margin-left: 23vh;
  margin-bottom: -3vh;
}

.card-header {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 80px;
  height: 30px;
  padding: 1px 1px !important;
  text-align: center;
}

.task-container {
  height: 600px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #f6f7f8;
  padding: 40px 100px;
}
